{% extends 'base.html' %}

{% block page_content %}

<hr class="Light-sep">
<section id="contact">
        <div class="container">
            <h2>知识平台</h2>
            <hr class="sep">
        </div>
        <h3><a style="text-decoration: none; color: #444;" href="http://www.freebuf.com" >Freebuf</a></h3>
        <h3><a style="text-decoration: none; color: #444;" href="https://bbs.ichunqiu.com/portal.php" >i春秋</a></h3>
        <h3><a style="text-decoration: none; color: #444;" href="https://bbs.pediy.com" >看雪安全论坛</a></h3>
        <h3><a style="text-decoration: none; color: #444;" href="https://www.52pojie.cn" >吾爱破解</a></h3>
    <hr class="sep">
</section>
{% endblock%}