{% extends 'base.html' %}

{% block page_content %}
<section id="contact">
    <hr class="Light-sep">
        <div class="container">
            <h2>注册</h2>
            <hr class="sep">
            {%for message in messages %}
                <h4 {%if message.tags %} class="{{ message.tags }}"{% endif %}>{{message }}</h4>
            {%endfor %}
            {% for field in form %}
            <h4>{{ field.errors }}</h4>
            {% endfor %}
            <div class="col-md-6 col-md-offset-3 wow fadeInUp" data-wow-delay=".3s">
                <form action="{% url 'blog:register' %}" method='post'>
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="username" class="form-control" name="username" placeholder="用户名">
                        <br>
                        <input type="email" class="form-control" name="email" placeholder="邮箱">
                        <br>
                        <input type="password" class="form-control" name="password1" placeholder="密码">
                        <br>
                        <input type="password" class="form-control" name="password2" placeholder="确认密码">
                    </div>
                    <input type="submit" class="btn-block">
                </form>
            </div>
        </div>
    </section>

{% endblock %}